<h1
  *ngIf="this.products.length === 0; else elseBlock"
  class="container my-5 text-center"
>
  No Product Found!!
  <a class="nav-ulnk" routerLink="/addProduct">Add Product</a>
</h1>
<ng-template #elseBlock>
  <div class="container my-3">
    <div class="row row-cols-1 row-cols-md-4">
      <div class="col my-3" *ngFor="let product of products">
        <div class="d-flex justify-content-center">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
    </div>
  </div>
</ng-template>
